{% extends 'shop/layouts/main.html' %}

{% load static %}

{% block title %}
  Payment Successful | ShopKart
{% endblock title %}

{% block content %}
  <div class="video-container">
    <video autoplay muted loop class="fullscreen-video">
      <source src="{% static 'images/SYAM MART.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="video-overlay"></div>
  </div>

  <section class="bg-light py-4 my-5 position-relative z-index-10">
    <div class="container text-center">
      <h4 class="mb-3 text-white">Payment Successful!</h4>
      <hr style="border-color:#1c93c6;">
      <p class="text-white">Your payment was successful. Thank you for your purchase!</p>
      <a href="{% url 'home' %}" class="btn btn-primary">Return to Home</a>
    </div>
  </section>

{% endblock content %}

{% block styles %}
  
{% endblock styles %}
